parameters:
	ignoreErrors:
		-
			message: "#^Method Broadway\\\\Saga\\\\State\\\\Dbal\\\\DbalRepository\\:\\:createAndExecuteQuery\\(\\) should return Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement but returns Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 1
			path: src/DbalRepository.php

